In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import pandas as pd
df = pd.read_csv('googleplaystore.csv')

In [2]:
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [3]:
df.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [4]:
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

##### in this dataset some column contain 'Varies with device' value we goona change it with nan value

In [5]:
check = df.columns[df.eq('Varies with device').any()]

In [6]:
check

Index(['Size', 'Current Ver', 'Android Ver'], dtype='object')

#### now it show that the three column contain the 'Varies with device' value now we goona change it with null value

In [7]:
#df['Size'] = df['Size'].replace('Varies with device', pd.NA)  # Replace 'Varies with device' with NaN
 
#df['Android Ver'] = df['Android Ver'].replace('Varies with device', pd.NA)
#df['Current Ver'] = df['Current Ver'].replace('Varies with device', pd.NA)

In [8]:
import numpy as np

df['Size'] = df['Size'].replace('Varies with device', np.nan)
df['Android Ver'] = df['Android Ver'].replace('Varies with device', np.nan)
df['Current Ver'] = df['Current Ver'].replace('Varies with device', np.nan)

#when we use pd.NA then we have to use this formula 'df['Size'] = df['Size'].fillna(float('nan'))'without this formula you can not chnage its dtype but if you use the above formula than you dont need to use this formula

In [9]:
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size              1695
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver       1467
Android Ver       1365
dtype: int64

#### now we goona fill the null value with the mean of their column

In [10]:
mean_rating = df['Rating'].mean()
df['Rating'] = df['Rating'].fillna(mean_rating)
#df['Rating'] = df['Rating'].interpolate()

In [11]:
df['Size'].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', nan, '9.4M', '15M', '10M', '1.2M', '26M',
       '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k', '3.6M', '5.7M',
       '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M', '8.9M', '3.9M',
       '2.9M', '38M', '32M', '5.4M', '18M', '1.1M', '2.2M', '4.5M',
       '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M', '7.1M', '3.7M',
       '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M', '4.9M', '9.5M',
       '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M', '4.0M', '2.3M',
       '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M', '23k', '6.5M',
       '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M', '8.3M', '4.3M',
       '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M', '5.1M', '61M',
       '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M', '6.2M', '18k',
       '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M', '45M', '63M', '49M',
       '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M', '10.0M', '8.1M',
       '36M', '84M', '97M', '2.0M', '1.9M', '1.8M', '5.3M', '47M', '556k',
       '526k', '76M', '7.6M', '59M', '9.7M', '78M', '72M', '43M', '7.7M',
       '6.3M', '334k', '34M', '93M', '65M', '79M', '100M', '58M', '50M',
       '68M', '64M', '67M', '60M', '94M', '232k', '99M', '624k', '95M',
       '8.5k', '41k', '292k', '11k', '80M', '1.7M', '74M', '62M', '69M',
       '75M', '98M', '85M', '82M', '96M', '87M', '71M', '86M', '91M',
       '81M', '92M', '83M', '88M', '704k', '862k', '899k', '378k', '266k',
       '375k', '1.3M', '975k', '980k', '4.1M', '89M', '696k', '544k',
       '525k', '920k', '779k', '853k', '720k', '713k', '772k', '318k',
       '58k', '241k', '196k', '857k', '51k', '953k', '865k', '251k',
       '930k', '540k', '313k', '746k', '203k', '26k', '314k', '239k',
       '371k', '220k', '730k', '756k', '91k', '293k', '17k', '74k', '14k',
       '317k', '78k', '924k', '902k', '818k', '81k', '939k', '169k',
       '45k', '475k', '965k', '90M', '545k', '61k', '283k', '655k',
       '714k', '93k', '872k', '121k', '322k', '1.0M', '976k', '172k',
       '238k', '549k', '206k', '954k', '444k', '717k', '210k', '609k',
       '308k', '705k', '306k', '904k', '473k', '175k', '350k', '383k',
       '454k', '421k', '70k', '812k', '442k', '842k', '417k', '412k',
       '459k', '478k', '335k', '782k', '721k', '430k', '429k', '192k',
       '200k', '460k', '728k', '496k', '816k', '414k', '506k', '887k',
       '613k', '243k', '569k', '778k', '683k', '592k', '319k', '186k',
       '840k', '647k', '191k', '373k', '437k', '598k', '716k', '585k',
       '982k', '222k', '219k', '55k', '948k', '323k', '691k', '511k',
       '951k', '963k', '25k', '554k', '351k', '27k', '82k', '208k',
       '913k', '514k', '551k', '29k', '103k', '898k', '743k', '116k',
       '153k', '209k', '353k', '499k', '173k', '597k', '809k', '122k',
       '411k', '400k', '801k', '787k', '237k', '50k', '643k', '986k',
       '97k', '516k', '837k', '780k', '961k', '269k', '20k', '498k',
       '600k', '749k', '642k', '881k', '72k', '656k', '601k', '221k',
       '228k', '108k', '940k', '176k', '33k', '663k', '34k', '942k',
       '259k', '164k', '458k', '245k', '629k', '28k', '288k', '775k',
       '785k', '636k', '916k', '994k', '309k', '485k', '914k', '903k',
       '608k', '500k', '54k', '562k', '847k', '957k', '688k', '811k',
       '270k', '48k', '329k', '523k', '921k', '874k', '981k', '784k',
       '280k', '24k', '518k', '754k', '892k', '154k', '860k', '364k',
       '387k', '626k', '161k', '879k', '39k', '970k', '170k', '141k',
       '160k', '144k', '143k', '190k', '376k', '193k', '246k', '73k',
       '658k', '992k', '253k', '420k', '404k', '1,000+', '470k', '226k',
       '240k', '89k', '234k', '257k', '861k', '467k', '157k', '44k',
       '676k', '67k', '552k', '885k', '1020k', '582k', '619k'],
      dtype=object)

In [12]:
df['Size'] = df['Size'].str.replace('k','').str.replace('+','').str.replace('M','').str.replace(',','')

C:\Users\drago\AppData\Local\Temp\ipykernel_10172\797326396.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Size'] = df['Size'].str.replace('k','').str.replace('+','').str.replace('M','').str.replace(',','')

In [13]:
#df['Size'] = df['Size'].fillna(float('nan'))

In [14]:
df['Size'] = df['Size'].astype(float)

In [15]:
df['Size'].fillna(df['Size'].mean(),inplace= True)

In [16]:
df['Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0', 'Free'], dtype=object)

In [17]:
df['Installs'] = df['Installs'].str.replace('+','').str.replace(',','').str.replace('Free','0')

C:\Users\drago\AppData\Local\Temp\ipykernel_10172\1457422408.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Installs'] = df['Installs'].str.replace('+','').str.replace(',','').str.replace('Free','0')

In [18]:
df['Installs'] = df['Installs'].astype(float)

In [19]:
df['Type'].unique()

array(['Free', 'Paid', nan, '0'], dtype=object)

In [20]:
df['Type'] = df['Type'].str.replace('nan','Free').str.replace('0','Free')

In [21]:
df = pd.get_dummies(df, columns=['Type'])

In [22]:
df['Content Rating'].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated', nan], dtype=object)

now we have to select whhat should we apply to this column we can apply one hot encoding or we can apply label encoding In the one-hot encoding approach, the 'Content Rating' column will be replaced with a set of new columns, each representing a unique category and containing binary values. The prefix parameter is used to add a prefix to the new column names for better identification.

In the label encoding approach, a new column 'Encoded Rating' will be added to the DataFrame, containing the numerical representations of the categories from the 'Content Rating' column. Each category is assigned a unique numerical value.
To convert the categorical column into numerical values for a machine learning model, you can use either one-hot encoding or label encoding, depending on the specific characteristics of the data.

One-Hot Encoding:
One-hot encoding is used when the categories in the column have no ordinal relationship and are not inherently ranked or ordered. It creates binary columns for each unique category, where a value of 1 indicates the presence of that category, and 0 indicates its absence. In your case, the column contains categories like 'Everyone', 'Teen', 'Everyone 10+', 'Mature 17+', 'Adults only 18+', 'Unrated', and nan. Since these categories do not have a specific order or ranking, one-hot encoding is a suitable choice.
The resulting one-hot encoded columns would look like this:

sql
Copy code
Everyone        Teen       Everyone 10+     Mature 17+     Adults only 18+     Unrated
   1              0              0                0                 0                   0
   0              1              0                0                 0                   0
   0              0              1                0                 0                   0
   0              0              0                1                 0                   0
   0              0              0                0                 1                   0
   0              0              0                0                 0                   1
   0              0              0                0                 0                   0
The nan values would typically be handled separately, such as by filling them with a specific value or treating them as a separate category.

Label Encoding:
Label encoding is used when the categories have an inherent ordinal relationship or some form of ranking. In label encoding, each unique category is assigned a numerical label, usually starting from 0 or 1. However, in your case, the categories in the column do not appear to have an inherent order or ranking, so label encoding may not be appropriate.
Using label encoding in this case could introduce a misleading ordinal relationship between the categories. For example, encoding 'Everyone' as 0, 'Teen' as 1, 'Everyone 10+' as 2, and so on may imply that 'Everyone 10+' is somehow "greater" or "higher" than 'Teen', which may not be accurate or desired.

Therefore, in this particular scenario, one-hot encoding is the recommended approach to convert the categorical column into numerical values for your machine learning model.

In [23]:
df['Content Rating'] = df['Content Rating'].str.replace('Mature 17+','Adults only 18+').str.replace('Everyone 10+','Everyone')

C:\Users\drago\AppData\Local\Temp\ipykernel_10172\1829080868.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Content Rating'] = df['Content Rating'].str.replace('Mature 17+','Adults only 18+').str.replace('Everyone 10+','Everyone')

In [24]:
df['Content Rating'] = df['Content Rating'].replace('Everyone+', 'Everyone').replace('Adults only 18++', 'Adults only 18+')

In [25]:
#df1 = pd.get_dummies(df['Content Rating'], prefix='Rating')
df = pd.get_dummies(df, columns=['Content Rating'], prefix='Rating')

In [26]:
df['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', 'Everyone', '$1.20', '$1.04'], dtype=object)

In [27]:
df['Price'] = df['Price'].str.replace('$','').str.replace('Everyone','')

C:\Users\drago\AppData\Local\Temp\ipykernel_10172\2919873163.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Price'] = df['Price'].str.replace('$','').str.replace('Everyone','')

In [28]:
#df['Price'] = df['Price'].astype(float)

In [29]:
df = df[df['Price'] != '']  # Remove rows with empty 'Price' values
df['Price'] = df['Price'].astype(float)  # Convert 'Price' column to float

In [38]:
df['Current Ver'].unique()

array(['1.0', '2.0', '1.2', 'nan', '1.1', '6.1', '2.9', '2.8', '3.8',
       '3.1', '2.2', '5.5', '4.0', '1.5', '1.03', '6.0', '6.7', '2.20',
       '1.6', '2.1', '1.3', '1', '1.46', '11.0', '3.0', '1.7', '2.5',
       '2.493', '1.9', '2.20 Build 02', '1.37', '0.2', '4.47', '1.79',
       '2.3', '8.31', '10.0', '1.10', '3.20', '1.4', '4.6', '1.40',
       '2.17', '6.10', '5.4', '8.0', '3.3', '1.20', '18.5', '1.15', '3.2',
       '1.911805270', '9.1', '15.0', '18.05', '5.0', '3.12', '1.28',
       '9.00', '14.0', '3.05', '7.0', '3.9', '3.4', '2.19', '9.7', '4.9',
       '5.2', '3.550', '7.3', '5.1', '4.1', '99.0', '12.2', '1.12', '0.9',
       '3.24', '18.7', '3.19', '6.4', '3.7', '2.6', '5.20', '4.3',
       '10.46', '11.1', '2.22', '2.11', '1.08', '6.3', '4.7', '3.16',
       '4.2', '1.01', '2.4', '1.8', '37.0', '5.29', '9.8', '11.8', '24.6',
       '47.1', 'R6.0', '69.0', '1.60', '11.4', '2.18', '7.5', '37.1',
       '12.8', '9.9', '42.0', '0.1', '7.3(800241)', '7.73', '4.98',
       '7.21', '3.47', '6.5', '5.65', '5.22', '4.5', '5.85', '196',
       '1.26', '3.5', '8.1', '5.86', '2018.1', '1.286', '6.19', '5.28',
       '5.403', '7.2', '11.10', '4.17', '4.19', '6.6', '1.639', '4.4B',
       '1.308', '2.45', '1.31', '1.230', '15.8', '4.8', '1.55', '12.0',
       '8.7', '3.10', '1.17', '0.0', '3.6', '4.4', '5.16', '5.3', '8.2',
       '4.20', '1.', '3.52', '2', '1.5-beta', '4.813', '1.94', '2.16',
       '20.7', '2.24', '2.51', '10', '2.15', '3.14', '5.7', '2.48',
       '0.29', '10.9', '2.09', '13.9', '8.5', '15.9', '9.12', '4.21',
       '1.16', '1.5-play', '1.02', '2.13', '3.43', '2.05', 'v1.8b22p13',
       '2.08', '18.07', '6.18', '01.01', '11.45', '8.0626', '43', '4.18',
       '3.17', '16.0', '4.003', '4.426', '8.4', '1.57', '2018.07', '1.75',
       '1.107', '16.11', '1.14', '18.4', 'Cannonau 3.11', '8.0bld14',
       '20.1', '8.18', '10.78', '3.115', '2.31', '5.10', '6.8', '6.28',
       '5.38', '2.7', '3.22', '2.70', '6.39', '2.29', '1.13', '2.12',
       '2.53', '1.18', '16.6', '4.63', '2.10', '3.04 - Beta', '2.131',
       '4.10', '2.34', '8.44', '5.9', '7.8', '6.29', '5.15', '18.6',
       '7.12', '2.14', '4.11', '7.9', '5.8', '4.26', '24.5', '2.76',
       '9.15', '1.161', '11.11', '5.23', '5.31', 'p5.7', '6.15', '3.401',
       '112.0', '5.13', '3.48', '5.14', '6.2', '1.29', '10.24', '37',
       '8.8', '1.11', '10.2', 'Public.Heal', '1.92', '7.4', '9.6',
       '220.0', '1.04', '858', '1.22', 'v3.1', '3.00', '9.0', '10.19',
       '4.90', '16.7', '8.00', 'Version:6.97', '02.00', '9.4', '4.35',
       '12.1', '8.3', '5.600', '5.800', '2.347', '1.90', '1.129', '2.137',
       '1.49', '1.118', '10.322', '2.21', '5.66', '3196', '1.751', '5423',
       '1.21', '5.064', '0.111', '5.200', '1.24', '2.79', '0.7', '3.04',
       '5.6', '0.5', '1.180271', '1.250', '1.05', '3.30', '2.0081_206',
       '5.39', '19.1', '1.93', '1.76', '1_39_93', '79.0', '108', '8',
       '57.0', '3.15', '60', '8.25', '1.73', '2.180723', '7.32',
       '10.180530', '149', '1.180702', '1.221', '1.47', '3.49', '37893',
       '3.200', '1.19', '18.1', '20180609', '18.2', '3.46', '1.38',
       '1.35', '28.0', '6.14', '2018.5', '19.0', '7.6', '7', '7.1',
       '1.50', '3.27', '3.25', '6.02', '3.18', '4.36', '2.25', '25.3',
       '5.11', '4.23', '3.1-2018 – (13)', '1.830', '10.4', '300000.1',
       '2.01', '1.0 Super Ear Hearing', 'PN.1', 'Initial', '5.51', '0.6',
       '43.0', '4.95', 'T4.6', '13.0', '4.81', '1.23', '50.2 lite',
       '7.23', '2.69', '27.0', '10.6', '16.14', '14.2', '11.7', '4.16',
       '3.11', '4.33', '6.25', '29.14', '4.89', '8.9', '5.21', '7.36',
       '2.124', '6.9', '18.10', '4.31', '3.28', '3.13', '3.69', '11.6',
       '13.6', '584', '22.0', '6.21', '2.73', '2.74', '1.43', '9.3',
       '1.32', '3.31', '4.70', '71', '9.40', '6.71', '6.17', '10.8',
       '1004.0', '06.11', '5.12', '2018.6', '2.46', '3.21', '2.28',
       '2017.7', '18.30', '5.48', '17.4', '9.2', '10.7', '8.13', '4.13',
       '8.60', '4.38', '11.26', '17.7', '2.32', '53.89', '4.15', 'v5.4',
       '18.21', '13.8', 'v3.7', 'MyMetro_HTML_2.0_430029', 'v8.0', 'v7.0',
       '5.36', '32.1', '1.51', '20180517', '2.27', 'v150', '4.78', '6.06',
       '4.32', '1.33', 'v3.9f', '5.34', '1.284', '5.41', '4.12', '40.0',
       '2.60', '2.85', '2.41', '6.07', '18.0', '68.0', 'v1.39', '13.4',
       '1.07', '2.30', '2.04', '2.03', 'FreeTimeApp-aosp_v3.14_Build-1',
       'Natalia Studio Development', '30', '8.50', 'v1.0', '17.6', '1.78',
       '1.251', '7.10', '1.137', '9.51', '2.71', '5.17', '18.201', '3.53',
       '3.000', '2.42', '16.3', '19.2', '116', '04.08', '1.39', '7.16',
       '5.44', '5.4 (30)', '4.76', '5.072', '8.10', '8.6', '0.81 beta',
       '1.58', '4.94', '15.1', '0.8', '0.19', '27500000', '2.35', '1.52',
       '7.7', '10.23', '1.078', '1.09', 'version 0.994', '1.640', '1.91',
       '14.6', '2.23', '3.1 Release b2', '5055.524', '1.0-build20170819',
       'a.2', '2.277', '5.26', '2.44', '1.279', '0.4', '9.14', '31',
       '1009001', '3.01', '1.53', '5.206', '1900001', 'v8[1.0', '7.46',
       '1.42', '23.0', '9.55', '1805.0618', '1.2703', '1,01', '2.07',
       '32', '1.00', '3.42', '15.6', '1.80', '1.64', '0.54', '0.11',
       'v2018.Apr', 'v2018.May', 'H7SubTV0.1_TV0', '12', '4', '2.244',
       '7.3(823181)', '2.100', '3.002', '1.1 Build 226', 'v2', '1.574',
       '12.6', '9.5', '1.36', '2.40', '10.1', '1.06', '0.16', '263.16',
       '6', '1.935', '2.400', '65.0', '4.01', '4.54', '2.92', '1.62',
       '1.091', '5', '1.25', '2.94', '6.11', '1.77', '02.02', '3.39',
       'acremotecontrol18', 'v67_slk3.0_20180115_01',
       '1.3 acremotecontrol', 'airConditionerMaintenance_13112015',
       'v1.1072', '11;11.26', 'acremotecontrol-v7', '4.34', '25',
       '1255162018', 'v4.29', '117', 'cli-6.5', 'v2.7', '8.05', '30.0',
       '300000.0', 'Version 1.20', '2.26', '132', '20', '4.435',
       '1.2-Release', '0.33', '10001008', '11.04', 'closed', '18060104',
       '5.62', '0.46', '568', '39.231', 'newversion', '666', '10.10',
       '1.0beta', '1.54', '1.34', '2.59', '13', '2.003', '1.375', '1.131',
       'v3.4', '20180608', '20180620', '4.05', 'Z (Special Edition R9)',
       '1.85', '2.47', '5.06', '1.021', 'Cow V3.15', 'Cow V3.11', '11.17',
       '1.0-a22936', '3_1', '1.6(3)-demo', '5.805', '16.51', '1.246',
       '1.48', 'Final', '3.15317', '1.70', '1.401', 'v2.0', '250', '2.55',
       '3.55', 'Arrow-202', '3.44', 'v1.1-20151030', '1.8 P',
       '7.0 RELEASE', '20.0', '5.54', '2.5_20', '6.2-pro', '6.2-lite',
       '6.2-begina', '6.2-sayc', '26.1', '1.126', 'v1.3',
       'BL ONLINE PERSONAL TRAINING 7.9', '10.05', 'v1.2', 'v1.1',
       '35.119', 'Version 1.3', 'Rocksteady 1.3', '1.3_4', '1.2016',
       '26.0', '2.46 Saber', '13.3', '5.63', '0.12', '31.1',
       'Version 1.6', '3.61', '2.54', '2.66', 'V1.7', 'V2.3', '2.02',
       '5.45', '24.0', '11.15', '4.72',
       'no_update_signal.2_9_1_arm-x86_64-alpha', '1.998', '18.08',
       '5.68', '3', '1.98', '1.093', '7.17', '1.41', '1.200',
       'opciÃ³n de cerrar', '2.2 Free', '2.00', '2.26 Build 17', '106',
       '1.283', '102.0', 'v6.6', "1.1 (j'sais pas)", '3.70', '1.042',
       '01e', '1.6d', '6.95', '70.0',
       'fcbd82b2-dd5b-41d2-af62-432271c42921', '41.9', '1.28ggl', 'v4.30',
       'The CJ Rubric 7.12', '2.38', '202', '48',
       'CL Pro for Craigslist - Canada 150', '11', 'Bowser4Craigslist',
       'App copyright', 'Copyright', '3.82', 'CL Strength 7.12', '6.24',
       '14.15', '0.99', '40.10', '2.49', '2.51f', 'v2.6', 'Gratis',
       '4.84', '1.82', 'Release 1.0', '60.0', 'Y4W-GATE_CS-5.0',
       'SolarCT 1.9 v', '2014.01', '200', '3000.5', '2.129', 'KM', 'iu4',
       '11.13', '2.5_16', '1.5_6', 'v6.7', '4.4_23', '20180805', '1.2_3',
       '7.18', '3.29', 'INDIRIMBO V.2014', '700', '24.8', '1.122',
       'Android 2.1 - 2015', 'Android 3.0 - 2015', 'Android 3.1 - 2015',
       'Android 2.0 - 2016', 'Android 3.1 - 2017', '2.95',
       'Translator 10.9', '4.75', '18.06', '20180518-01', '1.084', '1.56',
       'Glueboardv.6', '6.00', '1.911', 'v3', '31.11', 'v6.1', '1.193',
       'DH-Security Camera', '1.67', '10.5', '5.42', '2.106', 'v2017.Dec',
       '0.38', '20170828', '5.19', '12.04', '5.03', '0.3', '1.14b',
       'HTTPs', '21 - Rel2.0', '14.4', '2.68', '0.21', '67',
       '2.2 (Protostar)', 'DPSTATUS1.0', '15|06|17', 'di-v3.4', '1.96',
       'r2.5', 'pb1.0', '47', '3.67', '2.983', '6.93', '25.7', '0.20',
       '1.44', 'V1.0', '0.22', '10.36', '3.98', '10.012', 'R1.4', '1.27',
       '17.0', '1.002', '39.272', 'R1.3', 'V1.5', '69.1', '1.441',
       'Human Dx', '0.74 11', '2018-04-27', '2018-03', '0.35', '04.00',
       '5.27', '33.0', '17.25', '8.07', '1.278', 'erie1.3', '14.01',
       '4541.25', 'Build 54', 'Build 12', '4.1806',
       '1.8 (2014-10-10 11:10:51 +0400)', '1.95', '6.08', '3.33',
       '130.48', '8.16g', '0.62', '1.173', '25072018', '3.45', '1.932',
       '5.30', '2.177', '56', '23', '17.05', '21.54', 'Paid-9.4',
       'Fennec-52.9', '8.02', '2.72', 'BlueOrange', '314007', '1000000.6',
       '36', 'Pro 1.1', 'V1-180703', 'MONEY', '3.07', 'F2i', '1.0060',
       '1.59', '81', '1.20180531', '2.96', '2.001', '2.164', '16.00',
       '3.08', '0.59', 'V4.1', 'v1.9', '2018.04', '3.34', '23.2', '2.52',
       '176.0', '24.4', '7.95', '7.30', '3.953', '2018.0', '2018.8',
       '060816', '125', '68', '23.17', '14', '34', '5.33', '0.90', '9',
       '20170920', 'FH CODE 1.0', '0.24', '0.858', '9.19',
       'Android 3.0 - 2017', '3.36', 'Android 2.0 - 2014', '1.0404',
       '41.0', '3rd Release Aug 2016', '2.5a', '23.01', '0.15', '2017.07',
       '1.022', '15', '1.74', '1.72', '6.04'], dtype=object)

In [32]:
df['Current Ver'] = df['Current Ver'].astype(str)  # Convert 'Current Ver' column to string type
df['Current Ver'] = df['Current Ver'].apply(lambda x: '.'.join(x.split('.')[:2]) if x != 'nan' else x)

In [33]:
df['Current Ver'] = df['Current Ver'].apply(lambda x: '.'.join(x.split('.')[:2]))

In [34]:
#df['Current Ver'] = df['Current Ver'].str.replace('1.0.0','1').str.replace('2.0.0','2').str.replace('1.2.4','1.2').str.replace('1.0.612928','1').str.replace('0.3.4','0').str.replace('2.0.148.0','2').str.replace('NAType','0').str.replace('6.1.61.1','6').str.replace('2.9.2','3')

In [36]:
df = df[df['Current Ver'] != 'NAType']

In [37]:
df['Current Ver'] = df['Current Ver'].astype(float)

ValueError: could not convert string to float: '2.20 Build 02'

In [ ]:
mean_value = df['Current Ver'].mean()

# Fill missing values with the mean
df['Current Ver'] = df['Current Ver'].fillna(mean_value)

In [ ]:
df['Android Ver'].unique()

In [ ]:
df['Android Ver'] = df['Android Ver'].str.replace(' and up', '')  # Remove ' and up'
df['Android Ver'] = df['Android Ver'].str.replace('<NA>', '')  # Remove '<NA>'

In [ ]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error, r2_score

#Rating	Reviews	Size	Installs	Price	Last Updated	Current Ver	Android Ver	Type_Free	Type_Paid

# Define the target variable and features
target = 'Rating'
features = ['Reviews', 'Size', 'Installs', 'Price','Current Ver','Android Ver','Type_Free','Type_Paid']





# Feature Engineering - Example: Create a new feature 'Popularity'
df['Popularity'] = df['Reviews'] * df['Installs']

# Scale the numerical features
scaler = MinMaxScaler()
df[features] = scaler.fit_transform(df[features])

# Split the data into train and test sets
X = df2[features]
y = df2[target]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a Random Forest Regressor model
rf = RandomForestRegressor(n_estimators=100, max_depth=10, random_state=42)
rf.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Calculate the R2 score
r2 = r2_score(y_test, y_pred)
print("R2 Score:", r2)